<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <script src="js/angular.js" type="text/javascript"></script>
    <!--<script src="js/JSON_CALLBACK.js" type="text/javascript"></script>-->
    <script type="text/javascript">
        //html上的[ng-app]的值必须和下面的值一样,否则出错.
        var app = angular.module("app", []);
    </script>
</head>
<body>
    <div>
        <h6>
            step 0 : expression</h6>
        <p>1+2={{1+2}}</p>
    </div>
    <div>
        <h6>
            step 1: repeater</h6>
        <table>
            <tr ng-repeat="i in [1,2,3,4]">
                <td style="background: #{{666+i*30}}">
                    {{i}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <script type="text/javascript">
            var users = [
                { name: "jean", sex: "male", age: 1 },
                { name: "eva", sex: "female", age: 2 }
            ];
            //$scope 是固定参数,名字都固定
            app.controller("UserCtrl", function ($scope) {
                $scope.users = users;
                //$scope.orderField = "name";
            });
        </script>
        <h6>
            step 2: model and controller</h6>
        <table ng-controller="UserCtrl">
            <tr ng-repeat="p in users">
                <td>
                    {{p.name}}:
                </td>
                <td>
                    {{p.sex}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h6>
            step 3:client side query|order by</h6>
        <input type="text" ng-model="query" /><span>search text :{{query}}</span>
        <br />
        <select ng-model="orderField">
            <option value="name">name</option>
            <option value="sex">sex</option>
            <option value="age">age</option>
        </select>
        <input ng-model="orderField" type="text" />
        <span>order by:{{orderField}}</span>
        <table ng-controller="UserCtrl">
            <tr ng-repeat="p in users|filter:query|orderBy:orderField">
                <td>
                    {{p.name}}:
                </td>
                <td>
                    {{p.sex}}
                </td>
                <td>
                    {{p.age}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <script type="text/javascript">
            app.controller("RemoteStaticDataCtrl", ["$scope", "$http", function ($scope, $http) {
                //获得静态js文件的数据
                $http.jsonp("jsonData/users.js?callback=userCallback");
                window.userCallback = function (res) {
                    console.info("user success");
                    $scope.users = res;
                    delete window.userCallback;
                };



            } ]);
            app.controller("RemoteDataCtrl", ["$scope", "$http", function ($scope, $http) {
                //获得数据服务器处理后的数据
                var url = "http://localhost:58723/www/jsonData/Users.ashx?callback=JSON_CALLBACK";
                $http.jsonp(url).success(function (data) {
                    $scope.users = data;
                    console.info("success");
                }).then(function () {
                    console.info("then");
                });
            } ]);
        </script>
        <h6>
            step 4:remote data (JSONP调用静态JS数据/调用service数据)</h6>
        <span>调用静态JS数据</span>
        <table ng-controller="RemoteStaticDataCtrl">
            <tr ng-repeat="p in users">
                <td>
                    {{p.name}}:
                </td>
                <td>
                    {{p.sex}}
                </td>
                <td>
                    {{p.age}}
                </td>
            </tr>
        </table>
        <span>调用service数据</span>
        <table ng-controller="RemoteDataCtrl">
            <tr ng-repeat="p in users">
                <td>
                    {{p.name}}:
                </td>
                <td>
                    {{p.sex}}
                </td>
                <td>
                    {{p.age}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h6>
            step 5:multiple view (以JSONP的方式切换view)</h6>
        <a href="MultipleView/layout.htm">layout.htm</a>
        <p>jsonp离线view的自动生成,可以使用AngularAddin插件</p>
    </div>
    <div>
        <script type="text/javascript">
            function formUserCtrl($scope) {
                $scope.data = {};
                $scope.update = function (user) {
                    $scope.data = angular.copy(user);
                    console.info(user);
                };
                $scope.reset = function () {
                    $scope.user = {};
                };
            }
        </script>
        <h6>
            step 6:form</h6>
        <form ng-controller="formUserCtrl">
            <ul>
                <li>Name:<input type="text" ng-model="user.name" /></li>
                <li>Sex:<input type="radio" ng-model="user.sex" value="male" />male
                    <input type="radio" ng-model="user.sex" value="female" />female</li>
                <li>Age:<input type="text" ng-model="user.age" /></li>
                <li>
                    <button ng-click="update(user)">
                        save</button>
                    <button ng-click="reset()">
                        reset</button></li>
            </ul>
            <pre>{{user|json}}</pre>
        </form>
    </div>
    <div>
        <h6>
            step 7:JSONP 不能操作http headers</h6>
    </div>
</body>
</html>
